.session-screen {
  height: calc(100vh - 80px);
  background-color: white;
}
.session-header {
  width: 100vw;
  height: 20px;
}

.client-grid {
  overflow-y: scroll;
  background-color: white;
  width: 100vw;
}
